table{
    border: solid #000000;
    box-shadow: 5px 3px 3px black;
    background: linear-gradient(to top , #ff00bb, #005fff);
    padding: 10px;
    
}

body{
    margin: 0;
    background-size: 400px 700px;
    width: 350px;
    height: 600px;
    background-image: url("fundoG.jpg");
    background-repeat: repeat-y;
}
.Game{
    margin-left: 90px;
    margin-top: 70px;
}
.btn{
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    border: solid #000000;
    background: linear-gradient(to top , #ff00bb, #005fff);
    color: #fff;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 50px;
  
}
.btn-newGame{
    margin-top: 40px;
}
.newGame{
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    border: solid #000000;
    background: linear-gradient(to top , #ff00bb, #005fff);
    color: #fff;
    border: solid rgb(0, 0, 0);
    width: 200px;
    height: 40px;
    font-size: 20px;
}
button.btn{
    font-size: 55px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-bottom: 10px;

}
p{
    color: #fff;
}
.display{
    width: 250px;
    height: 20px;
    color: #fff;
    margin-left:-15px;
    margin-top: 10px;
}
.legendVictory{

    width: 70%;
    margin-top:1px;
    margin-left:10px;
    font-size: 20px;
    float: left;
}.legendVictory2{
    width: 5%;
    font-size: 20px;
    float: left;
}
.result{
    margin-left:20px;
    width:80%;
    height: 30px;
    border: solid black;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background: linear-gradient(to top , #ff00bb, #005fff);
}
div.placar{
    margin-top: 70px;
}

div#vicX{
    margin-top: -15px;
    height: 30px;
    border: solid black;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background: linear-gradient(to top , #ff00bb, #005fff);
}
div#vicO{
    margin-top: 10px;
    height: 30px;
    border: solid black;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background: linear-gradient(to top , #ff00bb, #005fff);
}
.vx{
    width: 45%;
    margin-top:1px;
    margin-left: 50px;
    font-size: 20px;
    float: left;
}.vx1{
    width: 5%;
    margin-top:1px;
    margin-left:0px;
    font-size: 20px;
    float: left;
}
.vo{
    width: 50%;
    margin-top:0px;
    margin-left:50px;
    font-size: 20px;
    float: left;
}.vo1{
    width: 5%;
    margin-top:1px;
    margin-left:0px;
    font-size: 20px;
    float: left;
}


table#jogo{-moz-border-radius: 10px; -webkit-border-radius: 10px; 
    margin-left: -25px;
}
/*@media screen and (max-width: 700px) { 
    .btn-newGames{
        margin-top: 10px;
        color: #fff;
        height: 40px;
        text-align: center;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 30px;
    }
}*/
