*{
    margin: 0;
}
body{
    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
}
header.topo{
    height: 65px;
    background-color: rgba(0,106,34,1);
    padding: 10px;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.Inicio{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
.Sobre{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
.Contato{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
button{
    font-size: 30px;
    border: solid;
    padding: 10px;
    width: 200px;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    
    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
}
.formulario{
    width: 300px;
    margin: 20px;
    border: solid;
    margin-left: 20px;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
}
.Forme{
    text-align: center;
}
p{
    text-align: left;
    padding-left: 60px;
}
h1{
text-align: center;
}
form{
    margin-left: 10px;
}
div#for{
height: 520px;
}
a{
    color: #fff;
    text-decoration: none;
}footer{
    background-color: #000;
}
p#foot{
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 700px) { 
    .formulario{
        height: 100%;
    }
    button{
        font-size: 15px;
        border: solid;
        padding: 10px;
        width: 100px;
    }
}