*{
    margin: 0;
}
header{
    height: 80px;
    background-color:#006a22;
    padding-top: 15px;
}
.Inicio{
    float: left;
    margin-left:100px ;
    font-size: 30px;
    width: 30%;
}
li{
    list-style-type:none;
}
.Sobre{
    float: left;
    font-size: 30px;
    width: 30%;
    
}
.Contato{
    float: left;
    font-size: 30px;
    width: 30%;
    
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
div.apre{

    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
    height: 500px;

}
.Htitle{
    text-decoration: underline;
    margin-top: 100px;
    margin-left:200px ;
    width: 300px;
}
.link{
    
    padding-top: 70px;
    width: 20%;
    float: left;
    margin-left:200px ;

}
.git{
    padding-top: 70px;
    width: 20%;
    float: left;
    
}
.eu{

    height: 300px;
    width: 20%;
    float: left;
    margin-top: -50px;
    margin-left: 100px;
}
.Ptitle{
    text-decoration: underline;
    text-align: center;

}
button{
    font-size: 30px;
    border: solid;
    padding: 10px;
    width: 200px;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    
    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
}

div#projetos{

    background-color:#2F4F4F;
}

div#conversor{

    height:850px ;
    background: rgb(0,106,34);
    background: linear-gradient(0deg, rgba(0,106,34,1) 0%, rgba(34,112,195,1) 100%);

}
.imgconver{
    border: solid;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    float: left;
    width: 20%;
    margin-left: 30px;
    margin-top: 50px;
}
.conver{
    border: solid  5px;
    background-color: #000;
    box-shadow: 5px 3px 3px rgb(0, 0, 0);
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 400px;
    float: left;
    width: 30%;

}
.subTitle{
    padding-left: 30px;
    padding-top: 30px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
p#legend{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 80%;
    color: #000000;
    font-size: 20px;
}
.cal1{
    margin-left: 30px;
    float: left;
    width: 20%;
}
.cal2{
    float: left;
    width: 21.4%;
    height:400px ;
    margin-left: 400px;
    border: solid;
    background: rgb(0,106,34);
    background: linear-gradient(0deg, rgba(0,106,34,1) 0%, rgba(34,112,195,1) 100%);
    box-shadow: 5px 3px 3px rgb(0, 0, 0);
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
.game{
    height:900px ;
    background: rgb(0,106,34);
    background: linear-gradient(0deg, rgba(0,106,34,1) 0%, rgba(34,112,195,1) 100%);
}
.imgvelha{
    margin-left: 30px;
    float: left;
    width: 20%;
    border: solid rgb(0, 0, 0);
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
.velha{
    
    border: solid rgb(0, 0, 0);
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background-color: #000;
    margin-left: 400px;
    float: left;
    width: 30%;

}
.calcula{

    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
    height: 600px;
}

@media screen and (max-width: 700px) { 
    .Htitle{
        margin-left:100px ;
        width: 300px;
    }
    button{
        font-size: 15px;
        border: solid;
        padding: 10px;
        width: 100px;
    }
    .Inicio{
        float: left;
        margin-left:0px ;
        font-size: 15px;
        width: 25%;
    }
    .Sobre{
        float: left;
        font-size: 30px;
        width: 25%;
    }
    .Contato{
        float: left;
        font-size: 30px;
        width: 30%;
    }
    .link{
        margin-top: 70px;
        width: 35%;
        float: left;
        margin-left:100px ;
    }
    .git{
        margin-top: 70px;
        width: 20%;
        float: left;
        margin-left:0px ;
    }
    .eu{
        width:70% ;
        margin-top: 5%;
        margin-left: 15%;
    }
    .imgconver{
        margin-left: 15px;
        width: 40%;
    }
    .conver{
        width: 80%;
        margin-left: 15px;
    }
    div#conversor{
        height:1100px ;
    }
    .cal2{
        width: 70%;
        margin-left: 15px;
    }
    .ident{
        margin: 10px 15%;
    }
    .apre{
        padding-bottom: 200px;
    }
    .calcula{
        padding-bottom: 100px;
    }
    .velha{
        margin-left: 0px;
        float: left;
        width:400px;
    }
    .game{
        padding-bottom: 100px;
        padding-left: 10px;
    }
}
footer{
    background-color: #000;
}
p#foot{
    text-align: center;
    color: #fff;
}
