*{
    margin: 0;
}
header{
    height: 40px;
    min-width: 380px;
    max-width: 1800px;
    background-color:#2F4F4F;
    padding: 10px;
}
.Inicio{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: #fff;
}
.Sobre{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
.Contato{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
.titulo{
    margin-left: 15%;
}
.titulo1{
    padding-top: 50px;
}.titulo2{
    padding-top: 5px;
}
.table{
    margin: 10px;
    margin-left: 15%;
    width: 40%;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 100px;
}
.eu{
    width: 20%;
    height: 300px;
    display: inline-block;
    margin-top: -50px;
    margin-bottom: 100px;
}
td{
    border: solid;
    padding: 10px;
    background-color: #2F4F4F;
}
div#eu{
    background-color: #C6C6C6;
}
div#projetos{
    background-color:#2F4F4F;
}
h1#title{
    text-align: center;
    color: #fff;
}
.conver{
    display: inline-block;
    width: 30%;
    border: solid;
    margin: 15px;
}
.conver1{
    display: inline-block;
    margin-left: 15%;
}
h1#title2{
    margin-left: 15px;
    margin-top: 30px;
    color: #fff;
}
p{
    margin-left: 15px;
    margin-top: 30px;
    width: 80%;
    color: #fff;
}
.cal1{
    display: inline-block;
    width: 30%;
}
.cal2{
    display: inline-block;
    width: 21.4%;
    height:400px ;
    margin: 50px 30px 50px 300px;
    border: solid;
}
.Hcal{
    margin-top: 50px;
    margin-left: 15px;
    color: #fff;
}
@media screen and (max-width: 700px) { 
    .table{
        width:70% ;
        margin-top: 45%;
        margin-bottom: 10px;
    }
    .eu{
        width:70% ;
        margin-top: 5%;
        margin-left: 15%;
    }
    .conver1{
        margin-left: 15px;
        width: 70%;
    }
    .conver{
        width: 30%;
        margin-left: 15px;
    }
    .cal2{
        width: 70%;
        margin-left: 15px;
    }
    .titulo{
        margin-top: 3px;
    }
    .table{
        margin: 10px 15%;

    }
}
