*{
    margin: 0;
}
body{
    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
}
header{
    height: 60px;
    min-width: 380px;
    max-width: 1800px;
    background:rgba(0,106,34,1) ;
    padding: 10px;
}
.Inicio{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
.Sobre{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
.Contato{
    width: 30%;
    display: inline-block;
    font-size: 30px;
}
a{
    color: #fff;
    text-decoration: none;
}
button{
    font-size: 30px;
    border: solid;
    padding: 10px;
    width: 200px;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    
    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
}
table{
    margin-left: 10px;
}
td{
    border: solid #000;
    box-shadow: 5px 3px 3px black;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background: rgb(34,112,195);
    background: linear-gradient(0deg, rgba(34,112,195,1) 0%, rgba(0,106,34,1) 100%);
    padding: 10px;
    text-align: center;
}
tr{
    color: #fff;
    font-size: 18px;
}
hr.style-one {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
.eu{
    margin-left: 10px;
    margin-top: 10px;
}
.titulo{
    width: 40%;
    display: inline-block;
    margin-left: 10px;
}
.tabela{
    width: 40%;
    display: inline-block;
    margin-top: -300px;
}
.corpo{
    height: 570px;
    
}
footer{
    background-color: #000;
}
p#foot{
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 700px){
    button{
        font-size: 15px;
        border: solid;
        padding: 10px;
        width: 100px;
    }
    .eu{
        width:70% ;
        margin-top: 5%;
        margin-left: 15%;
    }
    .titulo{
        width: 70%;
    }
    .tabela{
        width: 95%;
        margin-top: 1%;
    }
    .corpo{
        height: 100%;
    }
}
